@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'segoe ui';
}

.home-nav {
  width: 1440px;
  height: 586px;
  background-color: #74C69D;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 60px;

}

.nav {
  height: 50px;
  width: 1175px;
  position: absolute;
  top: 35px;
}

.nav>.nav-header {
  display: inline;
}

.nav>.nav-header>.nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav>.nav-btn {
  display: none;
}

.nav>.nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav>.nav-links>a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

/* .nav>.nav-links>a:hover {
  background-color: rgba(0, 0, 0, 0.3);
} */

.nav>#nav-check {
  display: none;
}

@media (max-width:600px) {

  .home-nav {
    width: 100%;
    height: 642px;
    flex-shrink: 0;
    background: #74C69D;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 34px;
    position: relative;
  }

  .nav {
    width: 335px;
    height: 38px;
    display: inline-flex;
    align-items: center;
    gap: 171px;
    align-items: center;
    gap: 171px;
    flex-shrink: 0;
    position: absolute;
    top: 21px;
  }

  .nav-title img {
    width: 129px;
    height: 38px;
  }

  .nav>.nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .nav>.nav-btn>label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav>.nav-btn>label:hover,
  .nav #nav-check:checked~.nav-btn>label {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .nav>.nav-btn>label>span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  .nav>.nav-links {
    position: absolute;
    z-index: 15;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }

  .nav>.nav-links>a {
    display: block;
    width: 100%;
  }

  .nav>#nav-check:not(:checked)~.nav-links {
    height: 0px;
  }

  .nav>#nav-check:checked~.nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

/******************************************header-finish*********************************/

.frame1 {
  width: 1175px;
  height: 378px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 125px;
  /* border: 2px solid black; */
}

.info1 {
  width: 416px;
  height: 299px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  /* border: 2px solid red; */
}

.info1 p {
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Work Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.info1 h1 {
  width: 416px;
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Crimson Text;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;

}

.info1 span {
  width: 416px;
  color: rgba(255, 255, 255, 0.75);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Work Sans';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

.info1 button {
  width: 170px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #FFF;
  color: #000;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Work Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  border: none;
}

@media (max-width:600px) {
  .frame1 {
    width: 335px;
    height: 515px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;

  }

  .info1 {
    width: 335px;
    height: 288px;
    position: absolute;
    bottom: 0px;
  }

  .info1 h1 {
    width: 335px;
    font-weight: 500;
  }

  .info1 span {
    width: 335px;
  }


  .frame1 img {
    width: 335px;
    height: 196.613px;
    position: absolute;
    top: 0;
  }
}