@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'segoe ui';
}

.home-nav {
    width: 1440px;
    height: 123px;
    background-color: #74C69D;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
    margin-bottom: 60px;
    position: relative;

}

.nav {
    height: 50px;
    width: 1175px;
    position: absolute;
    top: 35px;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

/* .nav>.nav-links>a:hover {
    background-color: rgba(0, 0, 0, 0.3);
} */

.nav>#nav-check {
    display: none;
}

@media (max-width:600px) {

    .home-nav {
        width: 100%;
        height: 70px;
        flex-shrink: 0;
        background: #74C69D;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 34px;
        position: relative;
    }

    .nav {
        width: 335px;
        display: inline-flex;
        height: 28px;
        align-items: center;
        gap: 171px;
        flex-shrink: 0;
        position: absolute;
        top: 21px;
    }

    .nav-title img{
        width: 129px;
        height: 38px;
    }

    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 40px;
        height: 40px;
        padding: 13px;
        position: absolute;
        top: -10px;
        right: 10.5px;
    }

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav>.nav-links {
        position: absolute;
        z-index: 15;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}

.gv{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 170px;
    right: 720px;
}
.portfolio {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 411px;
    height: 162px;
    /* border: 2px solid red; */
    position: absolute;
    top: 153px;
    left: 515px;
}

.portfolio p {
    color: #74C69D;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Work Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.portfolio h1 {
    color: #000;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Crimson Text;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
}

.portfolio span {
    color: var(--text-black, #000);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Work Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
}

.portfolio-logo {
    display: grid;
    flex-direction: column;
    align-items: flex-start;
    gap: 55px;
    width: 1187px;
    height: 1567px;
    /* border: 1px solid red; */
    grid-template-columns: auto auto;
    position: absolute;
    top: 397px;
    left: 130px;
}

.portfolio-logo img {
    display: flex;
    width: 570px;
    height: 334.544px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1.5px solid #000;
}

button {
    width: 170px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #212529;
    color: #FFF;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Work Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    border: none;
    position: absolute;
    top: 2041px;
    left: 664.5px;
}

.web-end {
    position: absolute;
    top: 2175px;

}

@media(max-width: 600px) {

    .gv{
        position: relative;
        right: 190px;
        bottom: 100px;
    }
    .portfolio {
        width: 335px;
        height: 167px;
        position: absolute;
        top: 104px;
        left: 20px;
        margin-bottom: 45px;
        /* border: 2px solid red; */
    }

    .portfolio p {
        color: #74C69D;
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: 'Work Sans';
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 125%;
        letter-spacing: 5px;
        text-transform: uppercase;
    }

    .portfolio h1 {
        font-size: 24px;
    }

    .portfolio span {
        width: 335px;
    }

    .portfolio-logo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 55px;
        width: 335px;
        height: 2044px;
        position: absolute;
        top: 316px;
        left: 20px;
    }

    .portfolio-logo img {
        width: 335px;
        height: 202px;
    }

    button {
        position: absolute;
        top: 2358px;
        left: 103px;
    }

    .web-end{
        position: absolute;
        top: 2436px;
    }

}